* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  color: #1E2019;
}

a {
  color: inherit;
}

.b-header {
  margin: 0;
  padding: 0.6rem;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #955E42;
  color: #E6CCBE;
  position: sticky;
  top: 0;
}

.b-header__link {
  text-decoration: none;
  font-weight: bold;
}

.b-header__list {
  list-style: none;
  display: none;
}

@media only screen and (min-width: 376px) {
  .b-header__list {
    display: block;
  }
}

.b-header__item {
  display: inline-block;
}

.b-footer {
  margin: 0;
  padding: 0.6rem;
  display: block;
  width: 100%;
  background-color: #955E42;
  color: #E6CCBE;
}

.b-content-area {
  width: 100%;
}

.b-content {
  padding: 0.6rem;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 4rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label::before {
  display: inline-block;
  margin-right: 0.6em;
  border-radius: 0.2em;
  border: 2px solid #1E2019;
  color: #1E2019;
  height: 1em;
  width: 1em;
  background-color: #E6CCBE;
  content: ' ';
  text-align: center;
}

input[type=checkbox]:checked + label::before {
  content: 'X';
}

.b-product-showcase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.b-product-showcase__product {
  background-color: #E6CCBE;
  border-radius: 0.2em;
  padding: 0.6rem;
  width: 300px;
  margin-bottom: 1em;
}

.b-product-showcase__img {
  width: 100%;
}

.b-product-showcase__title {
  margin: 0;
  padding: 0;
}